/*
 * Copyright (c) 2021-23 purple-rw
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define BASE  0     // alphas (Colemak-DH)
#define QWRTY 1     // alphas (Qwerty)
#define HNSDN 2     // alphas (Hands Down Neu 30)
#define SEMMK 3     // alphas (Semimak JQ)
#define RAISE 4     // symbols & numbers
#define SYMBL 5     // symbols
#define LOWER 6     // functions & navigation
#define KEYPD 7     // functions2 & keypad
#define MODS  8     // modifiers & multimedia
#define ADJST 9     // lighting & bluetooth

// Special keys
#define ZOOMOUT      LA(LG(MINUS))
#define ZOOMIN       LA(LG(EQUAL))
#define M_UNDO       LG(Z)
#define M_CUT        LG(X)
#define M_COPY       LG(C)
#define M_PASTE      LG(V)
#define M_SELALL     LG(A)
#define M_TMUX       LC(T)
#define NON_US_TILDE LS(NON_US_HASH)
#define NON_US_PIPE  LS(NON_US_BSLH)

&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <200>;
    flavor = "balanced";
};

&sk {
    release-after-ms = <3000>;
};

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE MINUS DOT>;
};

/ {
    behaviors {
        combos {
            compatible = "zmk,combos";

// Layers (Horizontal Combos)
// -------------------------------------------------------------
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |Keypd|Symbl|Keypd|Symbl|     |     |     |
// -------------------------------------------------------------
            combo_symbl { timeout-ms = <50>; key-positions = <24 26>; bindings = <&mo SYMBL>; layers = <BASE QWRTY HNSDN SEMMK>; };
            combo_keypd { timeout-ms = <50>; key-positions = <23 25>; bindings = <&mo KEYPD>; layers = <BASE QWRTY HNSDN SEMMK>; };

// Colemak (Horizontal Combos)
// -------------------------------------------------------------
// |     |<-  Esc  ->|     |     |     |     |<- BkSpc ->|     |
// |     |     |     |<-   V   ->|<-   K   ->|     |     |     |
// |     |<-  Tab  ->|     |     |     |     |<- Enter ->|     |
// -------------------------------------------------------------
            combo_esc   { timeout-ms = <50>; key-positions = < 1  2>; bindings = <&kp ESC>;   layers = <BASE QWRTY HNSDN SEMMK>; };
            combo_tab   { timeout-ms = <50>; key-positions = <21 22>; bindings = <&kp TAB>;   layers = <BASE QWRTY HNSDN SEMMK>; };
            combo_bspc  { timeout-ms = <50>; key-positions = < 7  8>; bindings = <&kp BSPC>;  layers = <BASE QWRTY HNSDN SEMMK>; };
            combo_enter { timeout-ms = <50>; key-positions = <27 28>; bindings = <&kp ENTER>; layers = <BASE QWRTY HNSDN SEMMK>; };
            combo_v     { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp V>;     layers = <BASE>; };
            combo_k     { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp K>;     layers = <BASE>; };

// Qwerty (Horizontal Combos)
// -------------------------------------------------------------
// |     |<-  Esc  ->|     |     |     |     |<- BkSpc ->|     |
// |     |     |     |<-   B   ->|<-   N   ->|     |     |     |
// |     |<-  Tab  ->|     |     |     |     |<- Enter ->|     |
// -------------------------------------------------------------
            combo_b     { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp B>;     layers = <QWRTY HNSDN>; };
            combo_n     { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp N>;     layers = <QWRTY>; };

// Hands Down Neu 30 (Horizontal Combos)
// -------------------------------------------------------------
// |     |<-  Esc  ->|     |     |     |     |<- Bkspc ->|     |
// |     |     |     |<-   B   ->|<-   ;   ->|     |     |     |
// |     |<-  Tab  ->|     |     |     |     |<- Enter ->|     |
// -------------------------------------------------------------
            combo_semi  { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp SEMI>;  layers = <HNSDN>; };

// Semimak JQ (Horizontal Combos)
// -------------------------------------------------------------
// |     |<-  Esc  ->|     |     |     |     |<- Bkspc ->|     |
// |     |     |     |<-   Q   ->|<-   P   ->|     |     |     |
// |     |<-  Tab  ->|     |     |     |     |<- Enter ->|     |
// -------------------------------------------------------------
            combo_q     { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp Q>;     layers = <SEMMK>; };
            combo_p     { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp P>;     layers = <SEMMK>; };

// Symbols & Numbers (Horizontal Combos)
// -------------------------------------------------------------
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |<-   {   ->|<-   }   ->|     |     |     |
// |     |     |     |     |     |     | *** |     |     |     |
// -------------------------------------------------------------
            combo_lbrc  { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp LBRC>;  layers = <RAISE>; };
            combo_rbrc  { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp RBRC>;  layers = <RAISE>; };

// Symbols (Horizontal Combos)
// -------------------------------------------------------------
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |<-   /   ->|<-   ?   ->|     |     |     |
// |     |     |     |     | *** |     | *** |     |     |     |
// -------------------------------------------------------------
            combo_fslh  { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp FSLH>;  layers = <SYMBL>; };
            combo_qmark { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp QMARK>; layers = <SYMBL>; };

// Functions & Numbers (Horizontal Combos)
// -------------------------------------------------------------
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |<-  F12  ->|<-  Tab  ->|     |     |     |
// |     |     |     | *** |     |     |     |     |     |     |
// -------------------------------------------------------------
            combo_f12   { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp F12>;   layers = <LOWER>; };
            combo_tab2  { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp TAB>;   layers = <LOWER>; };

// Functions & Keypad (Horizontal Combos)
// -------------------------------------------------------------
// |     |     |     |     |     |<-   =   ->|     |     |     |
// |     |     |     |<-  F24  ->|<-   -   ->|     |     |     |
// |     |     |     | *** |     | *** |     |<- Enter ->|     |
// -------------------------------------------------------------
            combo_f24   { timeout-ms = <50>; key-positions = <13 14>; bindings = <&kp F24>;       layers = <KEYPD>; };
            combo_kpeql { timeout-ms = <50>; key-positions = < 5  6>; bindings = <&kp KP_EQUAL>;  layers = <KEYPD>; };
            combo_kpmin { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp KP_MINUS>;  layers = <KEYPD>; };
            combo_kpent { timeout-ms = <50>; key-positions = <27 28>; bindings = <&kp KP_ENTER>;  layers = <KEYPD>; };

// Bluetooth & RGB (Horizontal Combos)
// -------------------------------------------------------------
// |<- Disp+ ->|     |     |     |     |    BT4   BT5   BT6    |
// |<- Disp- ->|     |     |     |     |     |     |     |     |
// |     |     |     |     |     |     |     |     |     |     |
// -------------------------------------------------------------
            combo_bt4   { timeout-ms = <50>; key-positions = < 6  7>; bindings = <&bt BT_SEL 4>;  layers = <ADJST>; };
            combo_bt5   { timeout-ms = <50>; key-positions = < 7  8>; bindings = <&bt BT_SEL 5>;  layers = <ADJST>; };
            combo_bt6   { timeout-ms = <50>; key-positions = < 8  9>; bindings = <&bt BT_SEL 6>;  layers = <ADJST>; };

            combo_dpinc { timeout-ms = <50>; key-positions = < 1  2>; bindings = <&kp C_BRI_INC>; layers = <ADJST>; };
            combo_dpdec { timeout-ms = <50>; key-positions = <11 12>; bindings = <&kp C_BRI_DEC>; layers = <ADJST>; };
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// (Hold)
// -------------------------------------------------------------
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |     |     |     |     |     |     |     |
// |     |     |     |LOWER|     |     |RAISE|     |     |     |
// -------------------------------------------------------------
// Colemak-DH
// -------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |  J  |  L  |  U  |  Y  |  ;  |
// |  A  |  R  |  S  |  T  |  G  |  M  |  N  |  E  |  I  |  O  |
// |  Z  |  X  |  C  |  D  |LSft |Space|  H  |  ,  |  .  |  /  |
// -------------------------------------------------------------
            bindings = < 
    &kp Q       &kp W       &kp F       &kp P       &kp B         &kp J           &kp L       &kp U       &kp Y       &kp SEMI
    &kp A       &kp R       &kp S       &kp T       &kp G         &kp M           &kp N       &kp E       &kp I       &kp O
    &kp Z       &kp X       &kp C       &lt LOWER D &kp LSFT      &kp SPACE       &lt RAISE H &kp COMMA   &kp DOT     &kp FSLH
            >;
        } ;

        qwerty_layer {
// Qwerty
// -------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |LSft |Space|  M  |  ,  |  .  |  /  |
// -------------------------------------------------------------
            bindings = < 
    &kp Q       &kp W       &kp E       &kp R       &kp T         &kp Y           &kp U       &kp I       &kp O       &kp P
    &kp A       &kp S       &kp D       &kp F       &kp G         &kp H           &kp J       &kp K       &kp L       &kp SEMI
    &kp Z       &kp X       &kp C       &lt LOWER V &kp LSFT      &kp SPACE       &lt RAISE M &kp COMMA   &kp DOT     &kp FSLH
            >;
        } ;

        handsdownneu30_layer {
// Hands Down Neu 30
// -------------------------------------------------------------
// |  W  |  F  |  M  |  P  |  V  |  /  |  .  |  Q  |  J  |  Z  |
// |  R  |  S  |  N  |  T  |  G  |  ,  |  A  |  E  |  I  |  H  |
// |  X  |  C  |  L  |  D  |LSft |Space|  U  |  O  |  Y  |  K  |
// -------------------------------------------------------------
            bindings = < 
    &kp W       &kp F       &kp M       &kp P       &kp V         &kp FSLH        &kp DOT     &kp Q       &kp J       &kp Z
    &kp R       &kp S       &kp N       &kp T       &kp G         &kp COMMA       &kp A       &kp E       &kp I       &kp H
    &kp X       &kp C       &kp L       &lt LOWER D &kp LSFT      &kp SPACE       &lt RAISE U &kp O       &kp Y       &kp K
            >;
        } ;

        semimakjq_layer {
// Semimak JQ
// -------------------------------------------------------------
// |  F  |  L  |  H  |  V  |  Z  |  ;  |  W  |  U  |  O  |  Y  |
// |  S  |  R  |  N  |  T  |  K  |  C  |  D  |  E  |  A  |  I  |
// |  X  |  J  |  B  |  M  |LSft |Space|  G  |  ,  |  .  |  /  |
// -------------------------------------------------------------
            bindings = < 
    &kp F       &kp L       &kp H       &kp V       &kp Z         &kp SEMI        &kp W       &kp U       &kp O       &kp Y
    &kp S       &kp R       &kp N       &kp T       &kp K         &kp C           &kp D       &kp E       &kp A       &kp O
    &kp X       &kp J       &kp B       &lt LOWER M &kp LSFT      &kp SPACE       &lt RAISE G &kp COMMA   &kp DOT     &kp FSLH
            >;
        } ;

        symbols_numbers_layer {
// symbols & numbers
// -------------------------------------------------------------
// |  9  |  5  |  3  |  1  |  7  |  6  |  0  |  2  |  4  |  8  |
// |  $  |  =  |  -  |  (  |  .  |  :  |  )  |  _  |  "  |  '  |
// |  @  |  |  |  &  |  {  |  [  |  ]  | *** |  *  |  #  |  \  |
// -------------------------------------------------------------
            bindings = <
    &kp N9      &kp N5      &kp N3      &kp N1          &kp N7          &kp N6      &kp N0      &kp N2      &kp N4      &kp N8
    &kp DLLR    &kp EQUAL   &kp MINUS   &kp LPAR        &kp DOT         &kp COLON   &kp RPAR    &kp UNDER   &kp DQT     &kp SQT
    &kp AT      &kp PIPE    &kp AMPS    &lt MODS LBRC   &lt SYMBL LBKT  &kp RBKT    &trans      &kp STAR    &kp HASH    &kp BSLH
            >;
        };

        symbols_layer {
// symbols
// -------------------------------------------------------------
// |  ^  |  %  |  +  |  [  |  ,  |  ;  |  ]  |  !  |  ~  |  `  |
// |  $  |  =  |  -  |  (  |  <  |  >  |  )  |  _  |  "  |  '  |
// |  @  |  |  |  &  |  {  | *** |  ?  | *** |  *  |  #  |  \  |
// -------------------------------------------------------------
            bindings = <
    &kp CARET   &kp PRCNT   &kp PLUS    &kp LBKT    &kp COMMA   &kp SEMI    &kp RBKT    &kp EXCL    &kp TILDE   &kp GRAVE
    &kp DLLR    &kp EQUAL   &kp MINUS   &kp LPAR    &kp LT      &kp GT      &kp RPAR    &kp UNDER   &kp DQT     &kp SQT
    &kp AT      &kp PIPE    &kp AMPS    &kp LBRC    &trans      &kp QMARK   &trans      &kp STAR    &kp HASH    &kp BSLH
            >;
        };

        functions_navigation_layer {
// functions & navigation
// -------------------------------------------------------------
// | F1  | F2  | F3  | F4  |Pause| Ins |PgUp | Up  |PgDn |Menu |
// | F5  | F6  | F7  | F8  |PrnSc|Home |Left |Down |Right| End |
// | F9  | F10 | F11 | *** |ScrLk| Tab |BkSpc|Enter| Del |     |
// -------------------------------------------------------------
            bindings = <
    &kp F1      &kp F2      &kp F3      &kp F4      &kp PAUSE_BREAK &kp INS       &kp PG_UP     &kp UP      &kp PG_DN   &kp K_APP
    &kp F5      &kp F6      &kp F7      &kp F8      &kp PSCRN       &kp HOME      &kp LEFT      &kp DOWN    &kp RIGHT   &kp END
    &kp F9      &kp F10     &kp F11     &trans      &kp SLCK        &lt KEYPD TAB &lt MODS BSPC &kp ENTER   &kp DEL     &none
            >;
        };

        functions2_keypad_layer {
// functions & keypad
// -------------------------------------------------------------
// | F13 | F14 | F15 | F16 |NumLk|  *  |  7  |  8  |  9  |  /  |
// | F17 | F18 | F19 | F20 |  -  |  0  |  4  |  5  |  6  |  +  |
// | F21 | F22 | F23 | *** |     | *** |  1  |  2  |  3  |  .  |
// -------------------------------------------------------------
            bindings = <
    &kp F13     &kp F14     &kp F15     &kp F16     &kp KP_NUM    &kp KP_MULTIPLY &kp KP_N7     &kp KP_N8   &kp KP_N9   &kp KP_DIVIDE
    &kp F17     &kp F18     &kp F19     &kp F20     &kp KP_MINUS  &kp KP_N0       &kp KP_N4     &kp KP_N5   &kp KP_N6   &kp KP_PLUS
    &kp F21     &kp F22     &kp F23     &trans      &none         &trans          &kp KP_N1     &kp KP_N2   &kp KP_N3   &kp KP_DOT
            >;
        };

        modifiers_layer {
// -------------------------------------------------------------
// | Esc |     |Zoom-|Zoom+|Mouse|Adjst|Vol- |Mute |Vol+ |Eject|
// |Ctrl | Alt | Cmd |Shift|CapLk|CapWd|Shift| Cmd | Alt |Ctrl |
// |Undo | Cut |Copy | *** |Paste|SelAl| *** |Prev |Play |Next |
// -------------------------------------------------------------
            bindings = <
    &kp ESC     &none       &kp ZOOMOUT &kp ZOOMIN  &none       &tog ADJST    &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  &kp C_EJECT
    &sk LCTRL   &sk LALT    &sk LGUI    &sk LSHFT   &kp CAPS    &caps_word    &sk RSHFT     &sk RGUI      &sk RALT      &sk RCTRL
    &kp M_UNDO  &kp M_CUT   &kp M_COPY  &trans      &kp M_PASTE &kp M_SELALL  &trans        &kp C_PREV    &kp C_PP      &kp C_NEXT
            >;
        };

        adjust_layer {
// -------------------------------------------------------------
// |Bri+ |     |     |     |Toggl|BTClr| BT0 | BT1 | BT2 | BT3 |
// |Bri- |     |     |     |     |     |Colmk|Qwrty|HnsDn|Semmk|
// | USB | BLE |     |     |     |     |     |     |Reset|BootL|
// -------------------------------------------------------------
            bindings = <
    &bl BL_INC    &none         &none   &none   &bl BL_TOG  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3
    &bl BL_DEC    &none         &none   &none   &none       &none       &to BASE      &to QWRTY     &to HNSDN     &to SEMMK
    &out OUT_USB  &out OUT_BLE  &none   &none   &tog ADJST  &tog ADJST  &none         &none         &sys_reset    &bootloader
            >;
/*
//  v----------- RGB -----------v
// -------------------------------------------------------------
// |Bri+ |Sat+ |Hue+ |Ani+ |Toggl|BTClr| BT0 | BT1 | BT2 | BT3 |
// |Bri- |Sat- |Hue- |Ani- |BLtog|     |Colmk|Qwrty|HnsDn|     |
// | USB | BLE |     |     |     |     |     |     |Reset|BootL|
// -------------------------------------------------------------
            bindings = <
    &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &rgb_ug RGB_TOG &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
    &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &bl BL_TOG      &none      &to BASE     &to QWRTY    &to HNSDN    &none
    &out OUT_USB    &out OUT_BLE    &none           &none           &none           &none      &none        &none        &sys_reset   &bootloader
            >;
*/
        };
    };
};
