# Copyright (c) 2021 purple-rw
# SPDX-License-Identifier: MIT

if SHIELD_DILLY

config ZMK_KEYBOARD_NAME
    default "Dilly"

endif

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT